<div>
    <h2 >Chat</h2>
    <a>Go back to home page</a>
    <hr >
    <input placeholder="Your message" type="text" id="text">
    <ul id="messages">

    </ul>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>