<form action="/session/signup" method="post">
    First name: <input type="text" id="first_name">
    Last Name: <input type="text" id="last_name">
    Email: <input type="email" id="email">
    Password: <input type="password" id="password">
    <input type="submit" value="Sign Up">
</form>