<div>
    <h2 >Chat</h2>
    <a href="https://tokytech.vercel.app">Go back to home page</a>
    <hr >
    <input placeholder="Your message" type="text" id="text">
    <ul id="messages">

    </ul>

</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>