<h1>Real time products</h1>
<h1>Add new product</h1>
<a bloc href="https://tokytech.vercel.app">Go back to home page</a>

<form id="form">
    <label for="title">Title: </label>
    <input 
        placeholder="Ex: CeraVe Retinol Serum for Post-Acne Marks and Skin Texture"
        type="text"
        id="title"
       >
    
    <label for="description">Description: </label>
    <input
        placeholder="Describe the product"
        type="text"
        id="description" 
       >
    
    <label for="price">Price: </label>
    <input
        placeholder="Ex: 250"
        type="text"
        id="price"
       >
    
    <label for="code">Code: </label>
    <input
        placeholder="Ex: S73036S"
        type="text"
        id="code"
       >
    
    <label for="stock">Stock: </label>
    <input
        placeholder="Ex: 82"
        type="number"
        id="stock"
       >
    
    <label for="category">Category: </label>
    <input
        placeholder="Ex: beauty-and-personal-care"
        type="text"
        id="category"
       >
    
    <label for="thumbnails">Thumbnails: </label>
    <textarea
        id="thumbnails"
        placeholder="Ex: https://m.media-amazon.com/images/I/71tzcOuInxL._SY450_.jpg, https://m.media-amazon.com/images/I/71azn9vqWAL._SY450_.jpg, https://m.media-amazon.com/images/I/61de1cvsXxL._SY450_.jpg, https://m.media-amazon.com/images/I/81uWcHMIWLL._SY450_.jpg, https://m.media-amazon.com/images/I/81VUOlSPmLL._SY450_.jpg, https://m.media-amazon.com/images/I/81oifbpSA4L._SY450_.jpg"
       ></textarea>

    <input type="submit" value="Send">
</form>

<div>
    <h1>Products</h1>
    <ul id="products">

    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>