<form action="/api/users/recover" method="post" class="container" style="width: 30%; margin-top:2%">
    Email: <input type="email" name="email" id="email" placeholder="Email">
    Password: <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Recover">
</form>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">