<form action="/api/session/login" method="post" class="container" style="width: 30%; margin-top:2%">
    Email: <input type="email" name="email" id="email" placeholder="Email">
    Password: <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Login">
    <a href="/api/views/signup" role="button" type="submit" value="Registrate" style="width: 100%;">Regístrate</a>
    <a href="/api/views/recover" role="button" type="submit" value="Registrate" style="width: 100%;margin-top:20px">Restaurar Contraseña</a>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">