<div>
    <form id="form">
        Título: <input type="text" name="title" id="title">
        Descripción: <input type="text" name="description" id="description">
        Precio: <input type="number" name="price" id="price">
        Url Imágen: <input type="text" name="thumbnail" id="thumbnail">
        Código: <input type="text" name="code" id="code">
        Stock: <input type="number" name="stock" id="stock">
        <input type="submit" value="Nuevo Producto">
    </form>
</div>
<div id="productList">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>