<h2>WebSockets</h2>
<p id="PriceP">10</p>
<form id="form">
    Price: <input type="submit">
    <input id="inputPrice" type="text">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>