<div style="width: 30%; margin-top:2%; margin-left: 35%">
    <p>Write the email of your account to recover the password, you need to have access to this email</p>
    <form action="/api/users/recoverpassword" method="POST">
        <label for="email">Email: </label>
        <input 
                placeholder="Your email..."
                type="text"
                id="email"
                name="email"
        >
        <input type="submit" value="Send">
    </form>
    <a href="/login">If you don't want to recover your password, go to login</a>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">