<form action="/api/users/updatepassword" method="POST" style="width: 30%; margin-top:2%; margin-left:35%">
    <label for="password">Password: </label>
    <input 
            placeholder="Your new password..."
            type="password"
            id="password"
            name="password"
    >
    <input type="hidden" name="token" value={{token}}>
    <input type="submit" value="Send">
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">